body {
    margin: 0;
}

.top-header {
    display: flex;
    width: 100%;
    padding: 5px 0px;
    background-color: grey;
    color: white;
}

.top-phone,.top-email {
    margin-top: 5px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.top-social {
    margin-top: 5px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

@media (max-width: 600px) {
    .top-social {
        display: none;
    }

    .top-phone,.top-email {
        font-size: 12px;
    }
}